@model aspApp.Models.Claims
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Claims - Edit</h2>

<div class="content">
    <form action="~/Claims/Edit" method="post">
        <input type="text" asp-for="Id" readonly/>
        <input type="text" asp-for="DisplayName" placeholder="Display name" />
        <input type="text" asp-for="Content" placeholder="Content" />
        <input type="submit" value="Save" />
        <a href="~/Claims">Cancel</a>
    </form>
</div>