<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link href="~/files/css/StyleSheet.css" rel="stylesheet" />
</head>

<body>

    <header>
    </header>

    <div class="login-content">
        @RenderBody()
    </div>

    <footer>
    </footer>

</body>

</html>