@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home - Index</h2>

<div class="menu-items">
    <a href="~/Admin/Home">AreaAdmin</a>
    <br />
    <a href="~/User">User</a>
    <a href="~/Rol">Rol</a>
    <a href="~/Claims">Claims</a>
    <a href="~/RolClaims">RolClaims</a>
    <a href="~/StartPage">StartPage</a>
    <br />
    <a href="~/Login/Logout">Logout</a>
    <br />
    <a href="~/Home/Test1">Test 1</a>
    <a href="~/Home/Test2">Test 2</a>
    <a href="~/Home/Test3">Test 3</a>
    <a href="~/Home/Test4">Test 4</a>
    <a href="~/Home/Test5">Test 5</a>
    <a href="~/Home/Test6">Test 6</a>
</div>

@* VS Git test v1*@