@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home - Index</h2>

<div class="menu-items">
    <a href="~/User">User</a>
    <a href="~/Rol">Rol</a>
    <a href="~/Claims">Claims</a>
    <a href="~/RolClaims">RolClaims</a>
</div>