@model IEnumerable<aspApp.Models.Startpage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int x = 1;
}

<h2>StartPage - Index</h2>
<a href="~/StartPage/Add" class="a-action">Add</a>

<div class="content">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Url</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@x</td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Url</td>
                    <td><a href="~/StartPage/Edit/@item.Id">Edit</a></td>
                    <td><a href="~/StartPage/Delete/@item.Id">Delete</a></td>
                </tr>
                x++;
            }
        </tbody>
    </table>
</div>